.collapse_container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 24px;

  .collapse_container_ul {
    gap: 24px;
    display: flex;
    flex-direction: column;

    .collapse {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: $color-1;
      border-radius: 5px;
      height: 30px;
      color: $color-2;
      font-size: 13px;
      font-weight: $medium;
      padding: 7px;

      @media(min-width: 768px) {
        font-size: $text-medium;
        height: 52px;
    }

      .arrow {
        background-image: url('../../../public/assets/arrow_up.svg');
        background-repeat: no-repeat;
        width: 32px;
        height: 32px;
        transition: transform 0.5s ease;
        cursor: pointer;
      }

      .rotate {
        transform: rotate(-180deg);
        transition: transform 0.5s ease-in-out;
      }
    }

    .collapse_content {
      max-height: 0;
      background-color: $color-4;
      overflow: hidden;
      border-radius: 5px;
      transition: max-height 0.8s ease-in-out;

      &.open {
        max-height: 500px;
      }

      .collapse_content_text {
        color: $color-1;
        padding: 16px;
        font-size: $text-xsmall;
        font-weight: 400;
        line-height: 17.11px;

        @media(min-width: 992px) {
          font-size: $text-small;
          line-height: 25.67px;
      }
      }
    }
  }
}

.list_equipments {
  color: #FF6060;
    padding: 16px;
    font-size: $text-xsmall;
    font-weight: 400;
    line-height: 17.11px;
}

.gap {
  gap: 0;
}

.collapse_container.about_container{
  flex-direction: column;
  margin-top: -16px;

  @media(min-width: 768px) {
    gap: 24px;
    width: 75%;
    position: relative;
    top: 0;
    left: 13%;
    right: 0;
    bottom: 0;

    
}
}
.collapse_container_ul.about_container_ul {
  width: 100%;
}