* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

$color-1: #FF6060;
$color-2: #FFFFFF;
$color-3: #000000;
$color-4: #F6F6F6;
$linear-gradient: linear-gradient(180deg, #FFFFFF00 0%, #00000080 50%);

$medium: 600;

$text-xsmall: 12px;
$text-small: 18px;
$text-medium: 24px;
